<header
  class="sticky gap-2 px-2 sm:px-0 top-0 left-0 z-50 bg-white flex items-center h-16 w-full border-b border-0 border-b-slate-200 border-solid"
>
  <div class="w-64 hidden sm:flex justify-center items-center h-full flex-col">
    <a class="text-xl font-semibold no-underline text-inherit" [routerLink]="['/']"
      >Ban Cake <span class="text-pink-600">Pocky</span></a
    >

  </div>
  <button (click)="layoutService.toggle()" pButton pRipple icon="pi pi-bars" class="hidden sm:inline-flex p-button-text p-button-secondary"></button>
  <button (click)="layoutService.visible()" pButton pRipple icon="pi pi-bars" class="inline-flex sm:hidden p-button-text p-button-secondary"></button>

  <div class="flex-1 flex items-center justify-end px-4">
    ...
  </div>
</header>
